:root {
    --primary-color: #f4f4f4;
    --dark-bg: #1a1a1a;
    --card-bg: #262626;
    --text-light: #00d4bd;
    --text-dim: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    background-color: var(--dark-bg);
}

#home-tab #home-link,
#projects-tab #projects-link,
#about-tab #about-link,
#contact-tab #contact-link {
    color: var(--text-light);
    border: 1px solid var(--text-light);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
}



.container {
    width: 100%;
    padding: 0 2rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    font-size: large;
    color: var(--primary-color);
}

.nav-links a:hover {
    color: var(--text-light);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.fa-circle-check {
    color: var(--text-light);
}



.hero-content {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portfolio-img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 4px solid var(--text-light);
    object-fit: cover;
}

.hero-content h1 {
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.hero-content h2 {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.hero-content p {
    max-width: 750px;
    font-style: italic;
}

.highlight {
    color: var(--text-light);
}

.work-btn {
    margin-top: 2rem;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--text-light);
    color: var(--dark-bg);
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.5rem;
    transition: transform 0.5s ease;
}

.work-btn:hover,
.btn:hover {
    transform: scale(1.1);
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.icons {
    margin-bottom: 12px;
    display: flex;
    gap: 1.5rem;
}

.icons .fa-brands, .fa-solid {
    font-size: 40px;
}

.icons a {
    text-decoration: none;
    color: var(--primary-color);
}

.icons a:hover {
    color: var(--text-light);
}

/*-------------Projects------------*/

.section-header {
    text-align: center;
    padding: 2rem;
}

.section-header h2 {
    font-weight: 600;
    font-size: 2.25rem;
}

.projects-grid {
    display: grid;
    padding: 4rem;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: var(--card-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

.card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card-content h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text-light);
}

.card-content p {
    color: var(--text-gray);
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: background-color 0.5s ease;
}

.btn-primary {
    background-color: var(--text-light);
    color: var(--dark-bg);
}

.btn-secondary {
    background-color: var(--dark-bg);
    color: var(--primary-color);
}

/*-------------About------------*/
.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.about-container h1 {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.about-container h2 {
    margin-bottom: 1rem;
}

.about-container p {
    max-width: 600px;
    margin-bottom: 2rem;
    font-weight: 400;
    color: var(--text-dim);
}

.about-container .skills-parent {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.about-container .skills {
    width: 25%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 0.1);
    color: var(--primary-color);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.about-container .resume-btn {
    background-color: var(--text-light);
    color: var(--dark-bg);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
    margin-top: 17px;
    margin-bottom: 17px;
}

/*-------------Contact------------*/

.contact-container {
    max-width: 700px;
    margin: auto;
}

.contact-container h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;

}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 5rem;

}

label p {
    margin-bottom: 8px;
    font-weight: 500;
}

label {
    width: 50%;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--text-dim);
    background-color: var(--card-bg);
    font-size: 16px;
    outline: none;
    color: var(--primary-color);
}

input:focus,
textarea:focus {
    border: 1px solid var(--text-light);

}

textarea {
    min-width: 460px;
    min-height: 230px;
    resize: none;
}

.contact-container>p {
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-dim);
}

.btn-send-message {
    background-color: var(--text-light);
    color: var(--dark-bg);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
    margin-top: 17px;
    margin-bottom: 17px;
}


.info {
    display: flex;
    gap: 20px;
}